@keyframes entering-battle {
  0%,
  20%,
  60% {
    transform: perspective(var(--unit)) translateZ(0) translateY(0);
    filter: blur(0) contrast(100%) brightness(100%);
  }
  40% {
    transform: perspective(var(--unit)) translateZ(calc(var(--unit) / 2))
      translateY(calc(var(--aspect-width) / var(--aspect-height) * -3 / 2 * var(--unit)));
    filter: blur(5px) contrast(125%) brightness(125%);
  }
  100% {
    transform: perspective(var(--unit)) translateZ(var(--unit))
      translateY(calc(var(--aspect-width) / var(--aspect-height) * -3 * var(--unit)));
    filter: blur(10px) contrast(300%) brightness(200%);
  }
}

.entering-battle {
  transform: perspective(var(--unit));
  animation-name: entering-battle;
  animation-duration: calc(var(--step-duration) * 2);
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-iteration-count: 1;
}

.in-battle {
  opacity: 0;
  height: 0;
}

.exiting-battle {
  transition: opacity calc(var(--step-duration) * 2) ease-in-out;
  opacity: 1;
}

.battle {
  height: 100%;
  width: 100%;
  background: #000;
  color: #fff;
}

.battle__zone {
  display: flex;
  flex-direction: row;
  height: calc(75%);
}

.battle__enemies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background: rebeccapurple;
  width: 75%;
}

.battle__party {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: goldenrod;
  width: 25%;
}

.battle__party-member {
  border-left: 5px solid #000;
  height: calc(var(--unit) * 3 / 2);
  width: var(--unit);
  background: #fff;
}

.battle__enemy {
  border-left: 5px solid #000;
  height: calc(var(--unit) * 4);
  width: calc(var(--unit) * 5);
  background: forestgreen;
  transform: scaleX(-1);
}

.battle__menu {
  background: palevioletred;
  height: calc(25%);
}
