body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --aspect-height: 13;
  --aspect-width: 21;
  --step-duration: 0.33s;
}

#game-frame {
  font-size: var(--unit);
  background: black;
  height: calc(var(--aspect-height) * var(--unit));
  width: calc(var(--aspect-width) * var(--unit));
  position: relative;
  overflow: hidden;
}

.sprite {
  position: absolute;
  image-rendering: pixelated;
  top: calc((var(--aspect-height) - 1) / 2 * var(--unit));
  left: calc((var(--aspect-width) - 1) / 2 * var(--unit));
}
