body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --aspect-height: 13;
  --aspect-width: 21;
  --step-duration: 0.33s;
}

#game-frame {
  font-size: var(--unit);
  background: black;
  height: calc(var(--aspect-height) * var(--unit));
  width: calc(var(--aspect-width) * var(--unit));
  position: relative;
  overflow: hidden;
}

.overworld {
  display: block;
  opacity: 1;
  position: absolute;
  transition: top var(--step-duration) linear, left var(--step-duration) linear;
}
.overworld.teleporting {
  transition: opacity calc(var(--step-duration) * 2) ease-in-out;
}
.overworld.teleporting.teleporting--in {
  opacity: 0;
}
.overworld.teleporting.teleporting--out {
  opacity: 1;
}

.dialogue-window {
  border: 5px solid #1d4ed8;
  background: #374151;
  color: #fff;
  font-size: calc(var(--unit) * 2 / 3);
  height: calc(var(--unit) * 3);
  padding: var(--unit);
  transition: transform 150ms linear;
  transform: scaleY(1);
}

.dialogue-window--closed {
  transform: scaleY(0);
}

.sprite {
  position: absolute;
  image-rendering: pixelated;
  top: calc((var(--aspect-height) - 1) / 2 * var(--unit));
  left: calc((var(--aspect-width) - 1) / 2 * var(--unit));
}

.tile-row {
  display: flex;
}

.tile {
  height: var(--unit);
  width: var(--unit);
}
